/* navbar list */
.cnavbar:nth-child(1) button{
    color: white;
    background-color: rgb(249,134,189);
}

.navbarlist li:nth-child(2) button {
    color: rgb(249,134,189);
    background-color:white;
    width: 150px;
}

/* box */
.cs_box{
    border: 2px solid rgb(212,205,192);
    border-radius: 8px;
    width: 600px;
    display: flex;
    padding: 3rem 1.5rem;
    align-items: center;
    text-align: left;
    gap:1rem;
}
.icon{
    width: 73px;
    height: 70px;
}
.cs_box_text{
    width: 340px;
}
.box_title{
    margin: .5rem 0;
}
.box_info{
    font-size: .85rem;
    padding-right: .1rem;
}
.cs_box_button{
    border: 2px solid rgb(212,205,192);
    border-radius: 20px;
    width: 120px;
    padding: .5rem 1rem;
}
.cs_box_button a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.helpListItem{
    display: flex;
    margin: 0 auto;
    width: 1200px;
    gap: 2rem;
    margin-bottom: 2rem;
}
.cs_center_title{
    text-align: left;
    margin-left: 10rem;
    margin-top: 5rem;
    font-size: 1.5rem;
}

/* 고객 문의 접수 채널 */
.channel_box{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.channel_box img{
    width: 80px;
    height: 80px;
}
.channel_info{
    text-align: left;
    line-height: .3rem;
}
.channel_way{
    font-size: 1.4rem;
    color: rgb(255,53,129);
    font-weight:bold;
}
.channel_etc{
    font-size: .9rem;
}
.channelList{
    display: flex;
    border: 2px solid rgb(212,205,192);
    border-radius: 8px;
    padding:3rem;
    width: 1200px;
    justify-content: center;
    margin-left: 10.5rem;
    margin-bottom: 3rem;
}
.processList{
    display: flex;
    gap: 3rem;
    width: 1000px;
    margin: 0 auto;
}
.circle{
    border: 2px solid rgb(212,205,192);
    width: 130px;
    height: 130px;
    border-radius: 100%;

}
.circle_text{
    margin-top: 3.5rem;
    font-size: .9rem;
    font-weight: 600;
}
.processbox{
    border: 1px solid rgb(212,205,192) ;
    width: 1200px;
    margin-left: 11rem;
    padding: 3rem 3rem 2rem 3rem;
    border-radius: 8px;
}
.process_notice{
    margin-top: 2rem;
}

/*  공지사항 */
#noticedetail{
    text-align: center;
}
.noticecontent{
    padding: 2rem 0;
}
.noticecount{
    margin-left: -63rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
.countnumber{
    color:  rgb(249,134,189);
}
.noticebar:first-child button {
    color: rgb(249,134,189);
    background-color:white;
    width: 150px;
}
.noticebar:last-child button{
    color: white;
    background-color: rgb(249,134,189)
}
.noticeinfos{
    display: flex;
    border-top: 1px solid rgb(188,188,188);
    border-bottom: 1px solid rgb(188,188,188);
    padding: 1rem 2rem;
    justify-content: space-between;
    width: 1100px;
    height: 70px;
    margin: 0 auto;
    text-align: left;
    align-items: center; 
}
.noticeinfos a {
    text-decoration: none;
}
.noticerno{
    font-size: .9rem;
    color: rgb(164,166,192);
    margin-top: 1rem;
}
.noticetitle{
    font-size: 1rem;
    width: 850px;
    color: black;
    margin-top: 1rem;
}
.noticedate{
    font-size: .9rem;
    color: rgb(164,166,192);
    margin-top: 1rem;
}
.noticedetailtitle{
    font-size: 4rem;
    font-weight:800;
    color: rgb(249,134,189);
}
.detailcontenttitle{
    font-size: 2rem;
}
.detaildate{
    font-size: 1.2rem;
    font-weight: 600;
}
.detailimage{
    padding: 3rem 0;
}
.backbtndetail{
    color: white;
    background-color: black;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 25px;
}

/* pagination */
.rc-pagination{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
}

.rc-pagination li, .rc-pagination-next , .rc-pagination-prev{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(188,188,188);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
}
.rc-pagination-item{
    padding-left: .8rem;
    padding-top: .5rem;
    font-weight: 600;
}
.rc-pagination-item-active{
    background-color: var(--pink-color-2);

}
.rc-pagination-item-active a {
    color: white;
}
.rc-pagination-next button::before{
    content: ">";
}
.rc-pagination-prev button::before{
    content: "<";
}
.rc-pagination-next button, .rc-pagination-prev button{
    padding-top: .6rem;
    font-weight: 600;
    color: var(--pink-color-3);
    padding-left: .8rem;
}